{% extends 'headers/header.twig' %}

{% block header_content %}
	
	{% set display = post.header_display %}
	{% for l in related_lessons %}
		{% if l.title == post.title %}<p class="title--support">Lesson {{loop.index}}</p>{% endif %}
			
	{% endfor %}
	{# <pre>{{ dump(related_lessons) }}</pre> #}
	<h1 class="title title--header">{{post.post_title}}</h1>
	<p class="lead lead--header">{{post.header_tagline}}</p>
	<p class="summary summary--header">{{post.header_summary}}</p>

{% endblock %}

{% block after_header_content %}{% endblock %}
