{% extends 'headers/header.twig' %}

{% block header_content %}

{# <h1 class="title-site"><a href="{{site.link}}" title="{{site.name}}" rel="home">{{site.name}}</a> </h1> #}

<div class="contain-xl">
    <div class="grid">

        <div class="site-logo cell cell--center cell--full">
            <a href="{{site.link}}">
                <img src="{{theme.link}}/assets/img/util/tbx-logo1.svg" alt="">
            </a>
        </div>

        <nav id="access" class="cell cell--full cell--center nav-main" role="navigation">
            <ul class="nav nav--site">
            {% for item in menu.items %}
                <li class="nav-item--site">
                    <a href="{{item.link}}">{{item.title}}</a>
                    {% if item.get_children %}
                    	<ul class="nav subnav--site">
        				{% for child in item.get_children %}
        					<li class="subnav-item">
        						<a href="{{child.get_link}}">{{child.title}}</a>
        					</li>
        				{% endfor %}
        				</ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </nav><!-- #access -->

    </div>
</div>
{% endblock %}