{% extends 'teases/tease.twig' %}

{% block content %}
	
	{% set post = TimberPost(post) %}
	{% set live = post.class_is_live %}
	{% set location = post.class_location %}
	{% set start = post.class_start_date %}
	
	<h4><a href="{{post.link}}">{{post.post_title}}</a> <span class="meta--upper meta--success">{% for level in post.get_terms('level') %}{{level.name}}{% endfor %}</span></h4>
	
	{# {% if live %} #}
		{# <p>{{post.class_start_date|date('F j')}}{{ post.class_end_date ? '-' ~ post.class_end_date|date('F j')}}, {{post.class_day_and_time}}</p> #}
		{% if live and start|date("U") > "now"|date("U") %}
			<p class="header__lead">{{post.class_time}}, {{ class_location == in_person ? 'New York, NY' : 'Google Hangout' }}</p>
			<p class="header__lead">{{post.class_start_date|date('F j')}}{{ post.class_end_date ? ' - ' ~ post.class_end_date|date('F j')}}</p>
		{% endif %}
	{# {% endif %} #}
	
	<p>{{post.header_summary}}</p>
	<div class="clearfix">
		<a href="{{post.link}}" class="btn btn--readmore">Read more...</a>
	</div>

	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}

	{# {% include 'partials/edit-link.twig' %} #}
	
{% endblock %}
