{% extends "teases/tease.twig" %}

{% block content %}
	
	<p class="tease__meta--lesson">Lesson {{loop.index}}</p>
	<h4 class="tease__title--lesson"><a href="{{post.link}}">{{post.title}}</a></h4>
	
	<div class="meta">
		<time class="item__title" datetime="{{post.lesson_date|date("Y-m-d")}}">
			{{post.lesson_date|date('F j, ')}}{{post.lesson_time}}
		</time>
	</div>

	<p>{{post.header_summary}}</p>
	
	{% if post.event_page %}<a href="{{post.event_page}}" target="blank" class="btn--hangout">{% include 'partials/svg.twig' with { file: 'quotes-left', prefix: 'icon'} %}Hangout Page</a>{% endif %}
	<a href="{{post.link}}" class="btn btn--readmore">Lesson Details</a>

	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}

{% endblock %}