{% extends "teases/tease.twig" %}

{% block content %}
	
	<p class="helper-support">Lesson {{loop.index}}</p>
	<h4 class="title-tease--lesson"><a href="{{post.link}}">{{post.title}}</a></h4>
	<p>{{post.header_tagline}}</p>
	
	<pre>{{dump(lesson_completed)}}</pre>

	<a href="{{post.link}}" class="btn btn-readmore">Read more...</a>
	
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}

{% endblock %}