{% extends 'teases/tease.twig' %}

{% block content %}
	
	{% set post = TimberPost(post) %}
	{% set live = post.class_is_live %}
	{% set location = post.class_location %}
	{% set start = post.class_start_date %}
	
	<p><strong class="meta--upper meta--med">{% for level in post.get_terms('level') %}{{level.name}}{% endfor %}</strong></p>
	<h3 class="tease__title--page"><a href="{{post.link}}">{{post.post_title}}</a></h3>
	{% if live and start|date("U") > "now"|date("U") %}
		{# <p class="meta">{{post.class_time}}, Google Hangouts<br>
		<time class="meta" datetime="{{post.class_start_date|date("Y-m-d")}}">{{post.class_start_date|date('F j')}}{{ post.class_end_date ? ' - ' ~ post.class_end_date|date('F j')}}</time></p> #}
		<div class="item__row">
			<div class="item__icon">
				{% include 'partials/svg.twig' with { file: 'calendar', prefix: 'icon'} %}
			</div>
			<time datetime="{{post.class_start_date|date("Y-m-d")}}" class="item__main">
				<h5 class="item__title">{{post.class_start_date|date('F j')}} - {{post.class_end_date|date('F j')}}</h5>
				<p class="meta">{{post.class_time}}</p>
			</time>
		</div>
	{% endif %}
	<div class="item__row last">
		{% include 'partials/class-location.twig' %}
	</div>
	
	{# {% if live %} #}
		{# <p>{{post.class_start_date|date('F j')}}{{ post.class_end_date ? '-' ~ post.class_end_date|date('F j')}}, {{post.class_day_and_time}}</p> #}
	{# {% endif %} #}
	
	<p class="header__lead">{{post.header_tagline}}</p>
	<p>{{post.header_summary}}</p>
	<div class="clearfix">
		<a href="{{post.link}}" class="btn btn--readmore">Read more...</a>
	</div>

	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}

	{# {% include 'partials/edit-link.twig' %} #}
	
{% endblock %}
