{% extends "teases/tease.twig" %}

{% block content %}
	<h4>Lesson {{loop.index}}: <a href="{{post.link}}">{{post.title}}</a></h4>
	<p>{{post.header_tagline}}</p>

	<a href="{{post.link}}" class="btn-info">View Lesson</a>
{% endblock %}