{% extends "teases/tease.twig" %}

{% block content %}
	{% set post = TimberPost(post) %}
	<a class="tease-link" href="{{post.link}}">
		<h5 class="tease-title">{{post.post_title}}</h5>
		<p class="tease-content">{{post.excerpt ? post.excerpt : post.header_summary}}</p>

		{# Don't show associated class on lesson page (already on that class) #}
		{% for t in post.get_terms('screencast_type') %}
			<a href="{{t.link}}">{{t.name}}</a>{{ loop.last ? '' : ', ' }}
		{% endfor %}
	</a>
	{% include 'partials/edit-link.twig' %}
{% endblock %}