<article class="tease tease--{{post.post_type}}" id="tease-{{post.ID}}">

	{% block content %}
		{% set post = TimberPost(post) %}
		<h5><a href="{{post.link}}">{{post.post_title}}</a></h5>
		<p class="meta">{{post.header_summary}}</p>

		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
	
</article>