{% extends 'teases/tease.twig' %}

{% block content %}
	
	{% set post = TimberPost(post) %}
	{% set end = post.class_end_date|date("U") %}
	{% set start = post.class_start_date|date("U") %}
	{% set now = "now"|date("U") %}
	
	<p class="meta--upper">
		<strong class="special">{% for level in post.get_terms('level') %}{{level.name}}{% endfor %}</strong>
		{# <strong class="header__meta{% if start >= now %} class_open{% elseif start <= now and end >= now %} class_live{% else %} class_off{% endif %}">
				{% if start >= now %}
					Now Registering
				{% elseif start <= now and end >= now %}
					Class in session
				{% endif %}
		</strong> #}
	</p>
	<h3 class="tease__title--page"><a href="{{post.link}}">{{post.post_title}}</a></h3>
	{# {% if end >= now %}
		<time datetime="{{post.class_start_date|date("Y-m-d")}}">
			<h5 class="item__title">{{post.class_time}}, {{post.class_start_date|date('F j')}} - {{post.class_end_date|date('F j')}}</h5>
		</time>
	{% endif %} #}
	<p>{{post.header_tagline}}</p>
	<div class="nav--readmore">
		<a href="{{post.link}}" class="btn--info">Read More</a>
		{% set class = TimberTerm(post.class_taxonomy) %}
		<a href="{{class.link}}" class="btn--success">{{ access ? 'View' : 'Preview' }} Lessons</a>
	</div>
	
	{# {% include 'partials/edit-link.twig' %} #}
	
{% endblock %}
