<header class="site__header contain--lg" role="banner">

    <div class="site__logo">
        <a href="{{site.link}}">
            <img src="{{theme.link}}/assets/img/util/tbx-logo1.svg" alt="">
        </a>
    </div> <!-- .site__logo -->

    <nav class="site__nav" role="navigation">
        <ul class="site__nav__items">

        {% for item in menu.items %}
            <li class="site__nav__item">
                <a href="{{item.link}}" class="site__nav__item__link">{{item.title}}</a>
                {% if item.get_children %}
                    <ul class="site__nav__subnav">
                    {% for child in item.get_children %}
                        <li class="site__nav__subnav__item">
                            <a href="{{child.get_link}}">{{child.title}}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        {% if access %}
            <li class="site__nav__item -access">
                <a href="{{site.link}}/classes">Classes</a>
            </li>
            <li class="site__nav__item">
                <a href="{{site.link}}/account">Account</a>
            </li>
            <li class="site__nav__item">
                <a href="{{logout_url}}">Log Out</a>
            </li>
        {% else %}
            <li class="site__nav__item">
                <a class="btn btn--info" href="{{site.link}}/log-in">Log In</a> or <a class="btn btn--success" href="{{site.link}}/register">Sign Up</a>
            </li>
        {% endif %}
        </ul>
    </nav><!-- .site__nav -->

</header>