
<nav class="nav--backtop">
	<a href="#pageTop">
		{% include 'partials/svg.twig' with { file : 'arrow-up', prefix : 'icon' }%}
	</a>
</nav>

<div class="site__footer__art">
	<img src="{{site.theme.link}}/assets/img/svg-min/water.min.svg" alt="Fishy in water">
</div>

<footer class="site__footer">
	{# <div class="contain--md rotate">
		<p>Also on the Tackle Box</p>
		{% for class in classes %}
			<p><a href="{{class.link}}">{{class.name}}</a></p>
		{% endfor %}
	</div> #}
	<div class="contain--xl">
		<div class="site__footer__content">
			{% if site_footer_copyright %}
				<div class="site__footer__copy">
					<p>{{site_footer_copy}}</p>
				</div>
			{% endif %}
			{% if site_footer_credits %}
				<div class="site__footer__colophon">
					<p>{{site_footer_credits}}</p>
				</div>
			{% endif %}
		</div>
	</div>
</footer>