<section class="block--{{block_class}}{{blck.cta_rotate ? ' rotate-' ~ blck.cta_rotate }}">
	{{ block.contain ? '<div class="' ~ block.contain ~ '">' }}
		{% block content %}
			<p>Nothing in this Block</p>
		{% endblock %}
	{{ block.contain ? '</div>' }}
</section> <!-- /.block--{{block_class}} -->