<header class="header--single">
	<div class="contain--xl text-center">

		{% if post.post_type == 'lesson' %}
			{% for t in post.terms('class') %}
				<p>{{t.name}}</p>
			{% endfor %}
		
			{% for l in related_lessons %}
				{% if l.title == post.title %}<p class="header__meta--class">Lesson {{loop.index}}</p>{% endif %}
			{% endfor %}
		{% endif %}
		
		<h1 class="header__title">{{post.post_title}}</h1>
	</div>
	
	<div class="contain--sm">
		<p class="header__lead text-center">{{post.header_tagline}}</p>
		<p>{{post.header_summary|wpautop}}</p>
		{% if post.event_page %}<a href="{{post.event_page}}" target="blank" class="btn--hangout">{% include 'partials/svg.twig' with { file: 'quotes-left', prefix: 'icon'} %}Hangout Page</a>{% endif %}
		{% if post.download_link %}<a class="btn btn--cta" target="blank" href="{{post.download_link}}">Download Files</a>{% endif %}
		{% if post.slides_link %}<a class="btn btn--cta" target="blank" href="{{post.slides_link}}">See Slides</a>{% endif %}
	</div>

{# 	<div class="item__row">
		
		<form action="" method="post">
			{% set field = '_lesson_' ~ post.id ~ '_complete' %}
			
			{% if lesson_completed == 'false' %}
				<h4>Have you completed this lesson?</h4>
				<label for="1{{field}}">Mark Complete</label>
				<input id="1{{field}}" type="radio" value="true" name="{{field}}">
			{% else %}
				<h4>You completed this lesson!</h4>
				<label for="2{{field}}">Mark Incomplete</label>
				<input id="2{{field}}" type="radio" value="false" name="{{field}}">
			{% endif %}

			<input type="submit" name="submit" value="Go">
		</form>
	</div> #}

</header>