<header class="header--single">
	<div class="contain--sm">

		{% if post.post_type == 'lesson' %}
			{% for t in post.terms('class') %}
				<p class="header__meta"><a href="{{t.link}}">{{t.name}}</a>
			{% endfor %}
		
			{% for l in related_lessons %}
				{% if l.title == post.title %}&rarr; Lesson {{loop.index}}</p>{% endif %}
			{% endfor %}
			</p>
		{% elseif post.post_type == 'screencast' %}
			{% for t in post.terms('class') %}
				<p class="header__meta"><a href="{{t.link}}">{{t.name}}</a> &rarr; Screencasts &rarr; {{post.name}}</p>
			{% endfor %}

		{% endif %}

		<h1 class="header__title">{{post.post_title}}</h1>

		<p class="header__lead">{{post.header_tagline}}</p>
		<p>{{post.header_summary|wpautop}}</p>
		{% if access %}
			{% if post.event_page %}<a href="{{post.event_page}}" target="blank" class="btn--hangout">{% include 'partials/svg.twig' with { file: 'quotes-left', prefix: 'icon'} %}Hangout Page</a>{% endif %}
			
			{% if post.download_link %}<a class="btn btn--cta" target="blank" href="{{post.download_link}}">Download Files</a>{% endif %}
			
			{% if post.slides_link %}<a class="btn btn--cta" target="blank" href="{{post.slides_link}}">See Slides</a>{% endif %}
		{% endif %}
	</div>

</header>