{% extends 'singles/single.twig' %}

{% block content %}
	
	{# Not sure why these are switched e.g. prev is next and vice versa. Also may be a better way to have this function in the PHP file rather than inline here. #}
	<nav class="prevnext">
		<div class="prev">
			{{function('next_post_link', '%link', '<span class="prevnext-label">Previous Lesson</span> %title', TRUE, ' ', 'class' )}}
		</div>
		<div class="next">
			{{function('previous_post_link', '%link', '			<span class="prevnext-label">Next Lesson</span> %title', TRUE, ' ', 'class' )}}
		</div>
	</nav>

{% if access %}
	<div class="lesson-screencasts">
		{# <pre>
			{{dump(screencasts)}}
		</pre> #}
		{% for id in screencasts %}
		<section class="acc-section">
			{% set vid = TimberPost(id) %}
			<header class="acc-header{{loop.first ? ' open'}}">
				<h4 class="acc-title">{% for l in related_lessons %}{% if l.title == post.title %}{{loop.index}}{% endif %}{% endfor %}.{{loop.index}} {{vid.title}}</h4>
				<div class="acc-arrow-wrap">
					{% include 'partials/svg.twig' with { file: 'arrow-down', prefix: 'acc-arrow' } %}
				</div>
				<p>{{vid.header_tagline}}</p>
			</header>
			<div class="acc-content{{loop.first ? ' open'}}">
				{{vid.video_embed}}
				{{vid.content}}
				{% if vid.links %}
					<h5>Relevant Links</h5>
					<ul>
					{% for link in vid.get_field('links') %}
						<li>
							<a href="{{link.url}}" target="blank">{{link.title}}</a>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
			{# {% include 'partials/edit-link.twig' with { post: vid } %} #}
		</section>
		{% endfor %}
	</div> <!-- /.lesson-screencasts -->

	<nav class="lesson-nav">
		<ul class="tabs">
			<li class="tab"><a class="tab-link open" href="#notes">Lesson Notes</a></li>
			<li class="tab"><a class="tab-link" href="#homework">Homework</a></li>
			<li class="tab"><a class="tab-link" href="#resources">Resources</a></li>
		</ul>
	</nav> <!-- /.lesson-nav -->
	
	<div class="tab-content-container">
		<section class="tab-content open" id="notes">
			<header class="tab-header">
				<h2 class="tab-title">Learning Goals</h2>
				<p>Make sure you understand these concepts before moving to the next lesson.</p>
			</header>
			{% if post.get_field('blocks') %}
				{% for block in post.get_field('blocks') %} 
					{% include 'blocks/block-logic.twig' %}
				{% endfor %}
			{% else %}
				{% include 'partials/content-coming.twig' %}
			{% endif %}
		</section> <!-- /#notes -->

		<section class="tab-content" id="homework">
			<header class="tab-header">
				<h2 class="tab-title">Homework</h2>
				<p>Complete these parts of your project.</p>
			</header>
			{% if post.get_field('assignment_blocks') %}
				{% for block in post.get_field('assignment_blocks') %}
					{% include 'blocks/block-logic.twig' %}
				{% endfor %}
			{% else %}
				{% include 'partials/content-coming.twig' %}
			{% endif %}
		</section> <!-- /#homework -->

		<section class="tab-content" id="resources">
			<header class="tab-header">
				<h2 class="tab-title">Resources</h2>
				<p>Helpful resources related to this lesson.</p>
			</header>
			{% if post.get_field('resources_blocks') %}
				{% for block in post.get_field('resources_blocks') %}
					{% include 'blocks/block-logic.twig' %}
				{% endfor %}
			{% else %}
				{% include 'partials/content-coming.twig' %}
			{% endif %}
		</section> <!-- /#resources -->
	</div> <!-- /.tab-content-container -->

{% else %}
	{% include 'partials/no-access.twig' %}	
{% endif %}

{% endblock %}

{% block after_content %}

	<footer class="lesson-footer">
	</footer>
	
{% endblock %}
