{% extends 'singles/single.twig' %}

{% block before_content %}
	<header class="header header-lesson header-single">

		<div class="squish-l">
			<form action="" method="post">
				{# <input type="checkbox" name="_lesson_455_complete" id="_lesson_455_complete"> #}
				{% set field = '_lesson_' ~ post.id ~ '_complete' %}
				
				<h4>Lesson State</h4>
				
				{% if lesson_completed == 'false' %}
					<label for="1{{field}}">Mark Complete</label>
					<input id="1{{field}}" type="radio" value="true" name="{{field}}">
				{% else %}
					<label for="2{{field}}">Mark Incomplete</label>
					<input id="2{{field}}" type="radio" value="false" name="{{field}}">				
				{% endif %}
				<input type="submit" name="submit" value="Go">
			</form>
			
			<ul class="nav">
				{% for t in post.terms('class') %}
					<li>{{t.name}}</li>
				{% endfor %}
			</ul>

			{% if post.header_display == 'image' %}
				{# TODO: Image will be included here. #}
			{% elseif post.header_display == 'svg' %}
				{% include 'utility/svg.twig' with { file : post.header_svg, prefix : 'shape' } %}
			{% endif %}	
			
			{% for l in related_lessons %}
				{% if l.title == post.title %}<p class="helper-support">Lesson {{loop.index}}</p>{% endif %}
			{% endfor %}

			<h1 class="title-single--lesson">{{post.post_title}}</h1>
			
		</div>
		<div class="squish">
			<p class="lead lead-header">{{post.header_tagline}}</p>
			{{post.header_summary|wpautop}}
		</div>

	</header>
{% endblock %}

{% block content %}

	<div class="grid">
		<aside class="cell cell--sixth" role="complementary">
			<h4>Lesson Links</h4>
			<ul class="list list--minor">
			{# {% for link in post.lesson_links %} #}
				<li><a href="{{post.download_link}}">Download video</a></li>
				<li><a href="{{post.download_link}}">View transcript</a></li>
			{# {% endfor %} #}
			</ul>
		</aside>
		<div class="cell">
			<div class="media-enhanced">
				{{post.video}}
			</div>
		</div>
	</div>

{# 	<div class="media-enhanced">
		{{post.video}}
	</div>
 #}
	<div class="squish">
		<div class="btn btn-cta">Download Worksheet</div>
		<div class="btn btn-cta">View Transcription</div>
	</div>

	{# Blocks for additional Lesson content #}
	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
	
	<section class="squish" id="learning-goals">
		<h3 class="title-section">Learning Goals</h3>
		{{post.learning_goals|wpautop}}
	</section> <!-- /#learning-goals -->

	<section class="squish" id="assignments">

		<h3 class="title-section">Assignments</h3>
		{{post.assignments_summary|wpautop}}
		
		{% for block in post.get_field('assignment_blocks') %}
			{% include 'blocks/block-logic.twig' %}
		{% endfor %}
		
		<ul class="block_list-list">
		{% for item in post.get_field('assignments') %}
			<li>
				<h4>{{item.item_title}}</h4>
				{{item.item_description|wpautop}}
			</li>
		{% endfor %}
		</ul>
	
		{% if post.get_field('tutorials') %}
			<h4>Tutorials</h3>
			{{post.tutorials_summary|wpautop}}
			<div class="list--major bleed">
				{% for post in post.get_field('tutorials') %}
					{% include 'teases/_tease-source.twig' %}
				{% endfor %}		
			</div>
		{% endif %}

		{% if post.get_field('readings') %}
			<h4>Resources</h4>
			{{post.readings_summary|wpautop}}
			<div class="list--minor">
				{% for post in post.get_field('readings') %}
					{% include 'teases/_tease-source.twig' %}
				{% endfor %}
			</div>
		{% endif %}

	</section> <!-- /#assignments -->

{% endblock %}

{% block after_content %}
	
	{% include 'navs/_nav-prevnext.twig' with { class : 'nav-prevnext' } %}

	{% include 'footers/_footer-lesson.twig' with { class : 'footer-lesson' } %}

{% endblock %}