{% extends 'singles/single.twig' %}

{% block content %}

	<p>Screencast type</p>
	<p>Level</p>
	<p>Category</p>

	{{post.video_embed}}

	{{post.content}}

	{% if post.get_field('links') %}
		<h3>Relevant Links</h3>
		<ul>
		{% for link in post.get_field('links') %}
			<li><a href="{{link.url}}">{{link.title}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

{% endblock %}

{% block after_content %}

	<p>TODO</p>
	{# <ol>
		{% for l in related_lessons %}
			<li><a href="{{l.link}}">{{l.title}}</a></li>
		{% endfor %}
	</ol> #}
	<p>Related lesson from class</p>
	<p>Similar screencasts</p>
	<p>Tags</p>
{% endblock %}
