{% extends 'pages/page.twig' %}

{% block before_content %}	
	<div class="squish">

		{# {{ function('tsk_postmeta_test') }} #}
		
		<h2>{{post.post_title}}</h2>
		<form method="post" action="">
			<!-- TODO -->
			<input type="checkbox" name="complete">
			<input type="submit" name="submit" value="Send Email" />
			{# <input type="hidden" name="complete" value="1" /> #}
		</form>

		{{button}}
		<pre>{{dump(post)}}</pre>

	</div>

	{% include 'headers/_header-page.twig' with { class: 'header squish header-page' } %}

	{% set start = post.class_start_date %}
	{% if post.class_is_live and start|date("U") > "now"|date("U") %}
		

		<div class="squish">

			<div class="alert alert-cta grid">
				<div class="alert-img cell-fourth">

					{# Set the SVG icon  #}
					{% if class_location == in_person %}
						{% set svg_file = 'office' %}
					{% else %}
						{% set svg_file = 'hangouts' %}
					{% endif %}

					{% include 'utility/svg.twig' with { file : svg_file, prefix : 'shape' } %}

				</div>
				<div class="alert-content cell">
					<h4 class="alert-title">Upcoming class!</h4>
					
					<p>{{post.class_day_and_time}}<br>{{post.class_start_date|date('F j')}} - {{post.class_end_date|date('F j')}}</p>

					{% if class_location == in_person %}
						<p>This class is <strong>in person</strong> in the Flatiron District of Manhattan. Precise location details will be provided upon registration.</p>
					{% else %}
						<p>This class is <strong>remote</strong> and will be held via Google Hangouts. Details will be provided upon registration.</p>
					{% endif %}

					<a class="btn btn-cta">Grab a spot!</a>
				</div>
			</div>

		</div>
	{% endif %}

{% endblock %}

{% block after_content %}
	{% if lessons %}
		<ul class="list list--major">
		{% for post in lessons %}
			<li class="grid-sm grid--guttered tease tease--lesson">
		
				<div class="cell cell--sixth">
					<div class="indicator--lesson text-center">{{loop.index}}</div>
				</div>
		
				<div class="cell cell--center">
					<h4 class="title-tease--lesson"><a href="{{post.link}}">{{post.title}}</a></h4>
					<p>{{post.header_tagline}}</p>
				</div>

				<div class="cell grid grid--guttered cell-sm--sixth cell--bottom">
					<div class="grid cell cell-sm--full">
						<a href="{{post.link}}" class="cell--full btn btn-readmore">Complete</a>
					</div>
					<div class="grid cell cell-sm--full">
						<a href="{{post.link}}" class="btn btn-readmore cell--full">
							<span class="grid">
								<span class="cell cell--center">More</span>
								<span class="cell cell--sixth cell--center">
									{% include 'utility/svg.twig' with { file : 'arrow-right', prefix : 'icon' } %}
								</span>
							</span>
						</a>
					</div>
				</div>
			
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
















