{% extends 'pages/page.twig' %}

{% block before_content %}	

	{% include 'headers/_header-page.twig' with { class: 'header squish header-page' } %}

	{% set start = post.class_start_date %}
	{% if post.class_is_live and start|date("U") > "now"|date("U") %}
		

		<div class="squish">

			<div class="alert alert-cta grid">
				<div class="alert-img cell-fourth">

					{# Set the SVG icon  #}
					{% if class_location == in_person %}
						{% set svg_file = 'office' %}
					{% else %}
						{% set svg_file = 'hangouts' %}
					{% endif %}

					{% include 'utility/svg.twig' with { file : svg_file, prefix : 'shape' } %}

				</div>
				<div class="alert-content cell">
					<h4 class="alert-title">Upcoming class!</h4>
					
					<p>{{post.class_day_and_time}}<br>{{post.class_start_date|date('F j')}} - {{post.class_end_date|date('F j')}}</p>

					{% if class_location == in_person %}
						<p>This class is <strong>in person</strong> in the Flatiron District of Manhattan. Precise location details will be provided upon registration.</p>
					{% else %}
						<p>This class is <strong>remote</strong> and will be held via Google Hangouts. Details will be provided upon registration.</p>
					{% endif %}

					<a class="btn btn-cta">Grab a spot!</a>
				</div>
			</div>

		</div>
	{% endif %}

{% endblock %}

{% block after_content %}
	{% if lessons %}
		<ul class="list list--major">
		{% for post in lessons %}
			{% set post = TimberPost(post) %}
			<li class="grid-sm grid--guttered tease tease--lesson">
		
				<div class="cell cell--sixth">
					<div class="indicator--lesson text-center">{{loop.index}}</div>
				</div>
		
				<div class="cell cell--center">
					<h4 class="title-tease--lesson"><a href="{{post.link}}">{{post.title}}</a></h4>
					<p>{{post.header_tagline}}</p>
				</div>

				<div class="cell grid grid--guttered cell-sm--third cell--bottom">
					
					<div class="grid cell cell-sm--full">

						{# Get the lesson completed value from the current user #}
						{% set status = '_lesson_' ~ post.id ~ '_complete' %}
						{% set lesson_completed = function('get_user_meta', c_user.id, status)|first %}
						{% set field = '_lesson_' ~ post.id ~ '_complete' %}

						<form class="mark-status-form" action="" method="post">
							{% if lesson_completed == 'false' %}
								<div class="status-incomplete">
									<label for="1{{field}}">Mark Complete!</label>
									<input id="1{{field}}" type="radio" checked value="true" name="{{field}}">
								</div>
							{% else %}
								<div class="status-complete">
									<h4>Completed!</h4>
									<label for="2{{field}}">Mark Incomplete</label>
									<input id="2{{field}}" type="radio" value="false" name="{{field}}">
								</div>
							{% endif %}
							<input type="submit" name="submit" value="Go">
						</form>
					</div>

					<div class="grid cell cell-sm--full">
						<a href="{{post.link}}" class="no-margin btn btn-readmore cell--full">
							<span class="grid">
								<span class="cell cell--center">More</span>
								<span class="cell cell--sixth cell--center">
									{% include 'utility/svg.twig' with { file : 'arrow-right', prefix : 'icon' } %}
								</span>
							</span>
						</a>
					</div>

				</div> <!--/ .grid -->
			
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
















