{% extends 'pages/page.twig' %}

{% block before_content %}	

	<header class="header--page">

		{% set display = post.header_display %}
		{% set live =  post.class_is_live %}
		{% set start = post.class_start_date %}
		
		<div class="contain--sm">
			
			
			<h1 class="header__title">{{post.post_title}} <span class="meta--upper meta--success">{% for level in post.get_terms('level') %}{{level.name}}{% endfor %}</span></h1>
			
			{% if live and start|date("U") > "now"|date("U") %}
				<p class="header__lead">{{post.class_start_date|date('l, F j')}}{{ post.class_end_date ? '-' ~ post.class_end_date|date('l, F j')}}, {{post.class_day_and_time}}<br>{{ class_location == in_person ? 'New York, NY' : 'Google Hangout' }}</p>
			{% endif %}

			{% if post.header_tagline %}
				<p>{{post.header_tagline}}</p>
			{% endif %}

			{% if post.header_summary %}
				<p class="header__summary">{{post.header_summary|
			wpautop}}</p>
			{% endif %}

		</div>

	</header>

	<div class="contain--md">
		{% if live %}
			{{ post.class_event ? post.class_event }}
		{% else %}
			<h3>Whoops, looks like this class has ended. Sign up for the Tackle Box email list to know when it comes back on!</h3>
			{% include 'partials/mailchimp.twig' %}
		{% endif %}
	</div>
		
{% endblock %}

{% block after_content %}
	{% if lessons %}
		<ul class="list--major">
		{% for post in lessons %}
			{% set post = TimberPost(post) %}
			<li class="grid-sm grid--guttered tease--lesson">
		
				<div class="cell cell--sixth">
					<div class="indicator--lesson text-center">{{loop.index}}</div>
				</div>
		
				<div class="cell cell--center">
					<h4 class="tease__title--lesson"><a href="{{post.link}}">{{post.title}}</a></h4>
					<p>{{post.header_tagline}}</p>
				</div>

				<div class="cell grid grid--guttered cell-sm--third cell--bottom">
					
					<div class="grid cell cell-sm--full">

						{# Get the lesson completed value from the current user #}
						{% set status = '_lesson_' ~ post.id ~ '_complete' %}
						{% set lesson_completed = function('get_user_meta', c_user.id, status)|first %}
						{% set field = '_lesson_' ~ post.id ~ '_complete' %}

						<form class="mark-status-form" action="" method="post">
							{% if lesson_completed == 'false' %}
								<div class="status-incomplete">
									<label for="1{{field}}">Mark Complete!</label>
									<input id="1{{field}}" type="radio" checked value="true" name="{{field}}">
								</div>
							{% else %}
								<div class="status-complete">
									<h4>Completed!</h4>
									<label for="2{{field}}">Mark Incomplete</label>
									<input id="2{{field}}" type="radio" value="false" name="{{field}}">
								</div>
							{% endif %}
							<input type="submit" name="submit" value="Go">
						</form>
					</div>

					<div class="grid cell cell-sm--full">
						<a href="{{post.link}}" class="no-margin btn btn-readmore cell--full">
							<span class="grid">
								<span class="cell cell--center">More</span>
								<span class="cell cell--sixth cell--center">
									{% include 'partials/svg.twig' with { file : 'arrow-right', prefix : 'icon' } %}
								</span>
							</span>
						</a>
					</div>

				</div> <!--/ .grid -->
			
			</li>
		{% endfor %}
	
		</ul>
	{% endif %}

{% endblock %}
















