{% extends 'pages/page.twig' %}

{% block before_content %}	

	<header class="header--page contain--sm">

		{% set display = post.header_display %}
		{% set start = post.class_start_date %}
		{% set now = "now"|date("U") %}
	
		{# <p class="header__meta--class">{% for level in post.get_terms('level') %}{{level.name}}{% endfor %}</p> #}
		
		<p class="header__meta--class">{% if start > now %}Now Registering{% else %}<span class="meta--med">Ended</span>{% endif %}</p>
		<h1 class="header__title--class">{{post.post_title}}</h1>
		
		{% if start > now %}
			<div class="header__alert--class">
				<div class="alert__icon">
					{% include 'partials/svg.twig' with { file: 'calendar', prefix: 'icon'} %}
				</div>
				<time class="alert__main">
					{% set time_start = post.class_start_date|date('g:ia') %}
					{% set time_end = post.class_end_date|date('g:ia') %}
					{% set day_of_week = post.class_end_date|date('l') %}
					{{day_of_week}}s, {{time_start}} - {{time_end}} EST<br>
					{{post.class_start_date|date('F j')}} - {{post.class_start_date|date_modify('+7 weeks')|date('F j')}}
				</time>
			</div>
		{% endif %}

		{% if post.header_tagline %}
			{# <p class="header__lead">{{post.header_tagline}}</p> #}
		{% endif %}

		{% if post.header_summary %}
			<p class="header__summary">{{post.header_summary|
		wpautop}}</p>
		{% endif %}

	</header>

	{% if start > now %}
		<div class="contain--md">
			{{ post.class_event ? post.class_event }}
		</div>
	{% else %}
		<div class="contain--sm">
			<div class="alert--warning">
				<h4 class="alert__title">This class has ended.</h4>
				<p>Would you like to see it again? We can definitely do that. Head to the contact page and let me know.</p>
				<a href="" class="btn btn--cta">Request Class</a>
			</div>
		</div>
	{% endif %}
		
{% endblock %}

{% block after_content %}
	{% if lessons %}
		<section class="contain--sm">
			<h3>Lessons</h3>
			<ol class="list--lessons"> 
			{% for post in lessons %}
				{% set post = TimberPost(post) %}
				<li class="list__item--lesson">
					<h5 class="list__item__title--lesson">{{loop.index}} <a href="{{post.link}}">{{post.title}}</a></h5>
					<p>{{post.header_tagline}}</p>
					{% include 'partials/edit-link.twig' %}
				</li>
			{% endfor %}
			</ol>

		</section>
	{% endif %}

{% endblock %}
















